.nav-link {
    color: rgb(200, 138, 200);
    text-decoration: underline;
    margin: 0.5em;
  }
  
.nav-link:hover {
    cursor: pointer;
}
  
.new-random{ 
    border: 1px solid #93C178;
}

body{
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255, 0.8);
    background-image: radial-gradient(rgb(100, 100, 101),rgb(25, 25, 27))
}

.home-container{
    
    padding: 10px;
    width: 900px;
    height: 650px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    

}


.welcome{
    background-image: url('/bar.jpeg');
    background-size: cover;
    font-size: 50px;
    height: 200px;
 
}


.home-toggle{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-mid-area{
    margin-top: -15px;
}

.verbs{
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;

}

.verb{
    padding: 10px;
    margin: 5px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#DFDCE3, #93C178);
    border: 1px solid rgb(255, 255, 255, 0.8);
    
    color: white;
    font-size: 25px;
}

.favorite{
   
    padding: 20px;
    margin: 5px;
    display: inline-block;
    font-size: 25px;

}
 .home-nav{
   
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

 }

.show{
    border: 1px solid rgb(255, 255, 255, 0.8);
    padding: 10px;
    margin: 5px;
    width: 80px;
    
}

.show:hover{
    cursor: pointer;
}

.login-area{
  
    padding: 10px;
    margin: 5px;
}

.signUp-area{
   
    padding: 10px;
    margin: 5px;
}

.back{
    background-image: radial-gradient(#DFDCE3, #93C178);
    border: 1px solid rgb(255, 255, 255, 0.8);
    padding: 5px;
    margin-top: 5px;
    display: inline-block;
}

.back:hover{
    cursor: pointer;
}



.loggedin-container{
    border: solid black;
    padding: 10px;
    margin: 5px;
    width: 900px;
    height: 650px;
}

.heading{
    border: 1px solid #93C178;
    padding: 10px;
    margin: 5px;
}

.profile-nav{
    border: 1px solid #93C178;
    padding: 10px;
    margin: 5px;
}

.profile{
    height: 500px;
    border: 1px solid #93C178;
    display: flex;
    margin: 5px;
}
.directory-container{
    margin: 5px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#title{
    font-size: 30px;
    border: 1px solid #93C178;
}
 
.directory{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #93C178;
    height: 400px;
}


.drink:hover{
    cursor: pointer;
}


.random{
    border: 1px solid #93C178;
    padding: 10px;
    margin: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.random-drink{

    padding: 5px;
    margin: -10px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wild{
    font-size: 30px;
}

.pic{
    max-width: 200px;
    max-height: 300px;
}

.cocktail-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ingredient-container{ 
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.save:hover{
    cursor: pointer;

}

.randDrink{
    font-size: 20px;
}

.spirit-screen{
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #93C178;
    
}

.spirit-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding:10px;
    
}

.vodka{
    background: url('https://img.freepik.com/free-photo/russian-vodka-background_8353-1240.jpg?size=626&ext=jpg&ga=GA1.2.1614264220.1616803200');
}

.rum{
    background: url('https://wallpaperaccess.com/full/2476850.jpg');
}

.gin{
    background: url('https://images.unsplash.com/photo-1453825012366-3738046cb6c7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2lufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80');
}

.tequila{
    background: url('https://s3.envato.com/files/256575313/Golden%20tequila%20on%20black%20background.jpg');
}
.bourbon{
    background: url('https://wallpapercave.com/wp/wp1846126.jpg');
}
.brandy{
    background: url('https://ak.picdn.net/shutterstock/videos/5573156/thumb/1.jpg');
}

.spirit{
    background-size: cover;
    width: 150px;
    height: 100px;
    margin: 10px 0 0 10px;
    position: relative;
    float: left;
}

.spirit p {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

.create-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    flex-direction: column;
}

.create{
    border: solid #93C178;
}

.input{
    display: flex;
    padding: 5px;
    height: 200px;
    width: 400px;
    justify-content: space-evenly;
}

.addCocktail-form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 300px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.addFormSection{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
}

.addDrink{
    width: 150px;
}

.my-drinks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}

.mydrinks-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
}






.hidden{
    display: none;
}